@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #460913;
	--sl-color-accent: #c5003b;
	--sl-color-accent-high: #feb1b4;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f0edec;
	--sl-color-gray-2: #cbc7c6;
	--sl-color-gray-3: #a9a2a0;
	--sl-color-gray-4: #5d5655;
	--sl-color-gray-5: #3d3735;
	--sl-color-gray-6: #2b2524;
	--sl-color-black: #1a1717;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc6c8;
	--sl-color-accent: #a60030;
	--sl-color-accent-high: #630019;
	--sl-color-white: #1a1717;
	--sl-color-gray-1: #2b2524;
	--sl-color-gray-2: #3d3735;
	--sl-color-gray-3: #5d5655;
	--sl-color-gray-4: #918a88;
	--sl-color-gray-5: #c5c1c0;
	--sl-color-gray-6: #f0edec;
	--sl-color-gray-7: #f7f6f5;
	--sl-color-black: #ffffff;
}
